<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
<!-- header -->
<%- include('./partials/header.ejs') %> 
<!-- new pokemon link -->
<h1 class="new-pokemon">
    <a href="/pokemon/new">
        <button>add new pokemon</button>
    </a>
</h1>
        <!-- container-->
        <div class="container">
            
            <!-- allPokemon loop -->
            <% allPokemon.forEach((pokemon,index)=>{ %>
            <!-- pokemon container -->
            <a class="pokemon-container" href="/pokemon/<%=index%>">
                <!-- data container -->
                 <div class="data-container">   
                    <!-- pokemon image -->
                    <img src="<%=pokemon.img%> " alt="<%=pokemon.name%> " class="pokemon-img">
                    <!-- data -->
                    <h5>#<%=pokemon.id%></h5>
                    <h3><%=pokemon.name%></h3>
                    
                    <!-- all-types container -->
                    <div class="all-types">
                    <%pokemon.type.forEach((type,index)=>{ %>
                        <!-- type container -->
                        <div class="type">
                           <%=type %>
                        </div>
                    <%}) %> 
                    </div>
                </div>      
            </a>
            <% }) %>
        </div>
    
</body>
</html>