<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/index-head.ejs') %>
</head>

<body>
    <header>
        <h1>Pokedex</h1>

        <h2>
            <a href="/pokemon/new">new pokemon</a>
        </h2>
    </header>
    <div class="pokemon-wrapper">

        <ul>
            <% allPokemon.forEach((element,index,array)=>{ %>
                <li>
                    <h5><%=array[index].name%></h5>
                    <a href="/pokemon/<%=index%>">
                        <img src="<%=allPokemon[index].img%> " alt="" class="pokemon-imgs">
                        <!-- <%=allPokemon[index].img%>  -->
                    </a>
                    <h6>#<%=array[index].id%></h6>
                    <% }) %>
                </li>
        </ul>

    </div>
</body>

</html>